<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/allquestions.css">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/top-navbar.css">
</head>

<body>
<%- include('includes/navigation.ejs') %>

<main>
    <h2 class = "header44"> Your Answers</h2>

        <% if (quest.length > 0) { %>
        <h3 class="center1"> <b>Total Answers: </b><%=quest.length %>  </h3>
    <div class = "container1">
        <% for(let question of quest) { %>
            <p class="groove"> <b>Answer: </b><%=question.text %>  </p>

        <% }%>

        <% }
        else{ %>
            <h2> No answers yet!</h2>
        <% }%>
    </div>

</main>

<%- include('includes/end.ejs') %>