<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/allquestions.css">
<link rel="stylesheet" href="/css/top-navbar.css">
<link rel="stylesheet" href="/css/table.css">
</head>

<body>
<%- include('includes/navigation.ejs') %>

<main>
    <h1 class = "landing_title"> My Contributions per Day </h1>
    <div>
        <% if (quest.length > 0) { %>
        <table class="table-fill">
            <thead>
            <tr>
                <th class="text-left">Year</th>
                <th class="text-left">Month</th>
                <th class="text-left">Day</th>
                <th class="text-left">Number of Questions</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <% for(let quest_ans of quest) { %>
            <tr>
                <td class="text-left"><%=quest_ans._id.year %>  </td>
                <td class="text-left"> <%=quest_ans._id.month %> </td>
                <td class="text-left"> <%=quest_ans._id.day %> </td>
                <td class="text-left"> <%=quest_ans.dailyCount %>  </td>
            </tr>

            <% }%>
            <% }
            else{ %>
                <h2> No questions yet!</h2>
            <% }%>
        </table>
    </div>
    <div>
        <% if (answers.length > 0) { %>
        <table class="table-fill">
            <thead>
            <tr>
                <th class="text-left">Year</th>
                <th class="text-left">Month</th>
                <th class="text-left">Day</th>
                <th class="text-left">Number of Answers</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <% for(let quest_ans of answers) { %>
            <tr>
                <td class="text-left"><%=quest_ans._id.year %>  </td>
                <td class="text-left"> <%=quest_ans._id.month %> </td>
                <td class="text-left"> <%=quest_ans._id.day %> </td>
                <td class="text-left"> <%=quest_ans.dailyCount %>  </td>
            </tr>

            <% }%>
            <% }
            else{ %>
                <h2> No answers yet!</h2>
            <% }%>
        </table>
    </div>


    <% let xvalues = [0] %>
    <% let sum = [0] %>
    <% let barColors = ['blue'] %>
    <% for(let quest_ans of quest) { %>
        <%  var year = JSON.stringify(quest_ans._id.year)
            var month = JSON.stringify(quest_ans._id.month)
            var day = JSON.stringify(quest_ans._id.day)
            var totn_string = []
            totn_string.push(year + '/' + month + '/' + day)
        %>
        <% xvalues.push(totn_string); %>
        <% sum.push(quest_ans.dailyCount); %>
        <% barColors.push("blue"); %>

    <% }%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <canvas id="myChart" style="width:100%;max-width:600px; margin: 0px auto;"></canvas>

    <script>
        new Chart("myChart", {
            type: "bar",
            data: {
                labels: <%- JSON.stringify(xvalues)%>,

                datasets: [{
                    backgroundColor: <%- JSON.stringify(barColors)%>,
                    data:  <%- JSON.stringify(sum)%>
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: "Questions Per Day"
                }
            }
        });
    </script>

    <br>
    <br>

    <% let xvaluesans = [0] %>
    <% for(let quest_ans of answers) { %>
        <%  var yeara = JSON.stringify(quest_ans._id.year)
            var montha = JSON.stringify(quest_ans._id.month)
            var daya = JSON.stringify(quest_ans._id.day)
            var totn_stringa = []
            totn_stringa.push(yeara + '/' + montha + '/' + daya)
        %>
        <% xvaluesans.push(totn_stringa);
        %>
    <% }%>

    <% let suma = [0];
    %>
    <% for(let quest_ans of answers) { %>
        <% suma.push(quest_ans.dailyCount);
        %>
    <% }%>

    <% let barColorsa = ['red'] %>
    <% for(let quest_ans of answers) { %>
        <% barColorsa.push("red");
        %>
    <% }%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <canvas id="new" style="width:100%;max-width:600px; margin: 0px auto;"></canvas>

    <script>


        new Chart("new", {
            type: "bar",
            data: {
                labels: <%- JSON.stringify(xvaluesans)%>,

                datasets: [{
                    backgroundColor: <%- JSON.stringify(barColorsa)%>,
                    data:  <%- JSON.stringify(suma)%>
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: "Answers Per Day"
                }
            }
        });
    </script>

    <br>


</main>

<%- include('includes/end.ejs') %>